<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is Bye html page</h1>
        <h2>We are using specific urls to render this page</h2>
        <h6><a href="{% url 'hai' %}">Navaigate to hai</a></h6>
        <h6><a href="{% url 'hello' %}">Navaigate to Hello</a></h6> 
       
    </center>
</body>
</html>